@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nerko+One&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,500;1,300&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
body::-webkit-scrollbar{
width: 12px;
background-color: rgba(128, 255, 0, 0.4);
}
body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to top , lime , blue );
  border-radius: 12px;
  }
  .light-theme {
   background-color: white;
   color: rgba(19, 13, 16, 0.6);
  }
  .dark-theme{
  background-color: black;
  color: rgb(18, 196, 113);
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
